// Border Radius SASS Mixins.
// SASS Parametric Mixins.
// 1. @mixin directive, border-radius with $inherit as parameter.

// The syntax of the first radius allows one to four values.
// Radius is set for all 4 sides.

$inherit: inherit !default;

@mixin border-radius($inherit) {
  -webkit-border-radius: $inherit;
     -moz-border-radius: $inherit;
      -ms-border-radius: $inherit;
          border-radius: $inherit;
}
// e.g. : .box { @include border-radius($inherit); }


// 2. @mixin directive, border-radius with $default as parameter. // default values = 4px.

// The syntax of the first radius allows one to four values.
// Radius is set for all 4 sides.
@mixin border-radius($default: 4px) {
  -webkit-border-radius: $default;
     -moz-border-radius: $default;
      -ms-border-radius: $default;
          border-radius: $default;
}
// e.g. : .box { @include border-radius(); }


// 3. @mixin directive, border-radius with $radius as parameter.

// The syntax of the first radius allows one to four values.
// Radius is set for all 4 sides.
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
// e.g. : .box { @include border-radius(10px); }


// 4. @mixin directive, border-radius with the four parameter.
// Radius is set for all 4 sides.
// to set the four properties:
  // border-top-left-radius and border-top-right-radius,
  // border-bottom-right-radius and border-bottom-left-radius.
@mixin border-radius($top-left, $top-right, $bottom-right, $bottom-left) {
  -webkit-border-radius: $top-left, $top-right, $bottom-right, $bottom-left;
     -moz-border-radius: $top-left, $top-right, $bottom-right, $bottom-left;
      -ms-border-radius: $top-left, $top-right, $bottom-right, $bottom-left;
          border-radius: $top-left, $top-right, $bottom-right, $bottom-left;
}
// e.g. : .box { @include border-radius(10px, 10px, 5px, 5px); }
