doctype html
// @author  : Prabhat Kumar
// @date    : 05-July-2015
html(lang="en")(xml:lang="en")(xmlns="http://www.w3.org/1999/xhtml")
  head
    title= pageTitle
  body(lang="en")(role="document")
    h1 @Mixins: repository for every mixins.
